@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

.body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

header {
  position: sticky;
  top: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #3c3a39;
}

.logo {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.menu {
  height: 24px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header_content {
  padding: 0 24px;
  padding-top: 120px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #1c1a19;
  width: 100%;
  height: 100vh;
  background-image: url('https://res.cloudinary.com/david79/image/upload/v1674029966/work%20stuff/illustration-header-mobile_xxsams.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: right;
  background-position-y: 60%;
}

.header_content h1 {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-weight: 400;
  font-size: 56px;
  line-height: 52px;
}

.header_content h3 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 12px;
  color: #fff5e1;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 12px;
}

a {
  text-decoration: none !important;
}

.social_icons {
  margin-top: 10px;
  list-style: none;
  flex-direction: row;
}

.social_icons li {
  margin: 10px;
}

#works {
  width: 100%;
  padding: 120px 24px;
  color: #091e42;
}

#works h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.projects {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.footer_social_icons {
  list-style: none;
  flex-direction: row;
}

.footer_social_icons li {
  margin: 0 10px;
}

.multi_stories img {
  width: 100%;
}

.multi_stories h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
}

.multi_stories p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  color: #091e42;
}

.multi_stories ul {
  list-style: none;
  margin-top: 12px;
  flex-direction: row;
}

.multi_stories ul li {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
}

.multi_stories button {
  margin-top: 12px;
}

.btn {
  padding: 12px;
  background-color: #f55800;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  border: 1px solid #f55800;
  cursor: pointer;
}

.btn:hover {
  color: #f55800;
  background-color: #fff5e1;
}

.btn:active {
  color: #f4f1f0;
  background-color: #e05304;
}

.project {
  height: 386px;
  justify-content: flex-end;
}

.project button {
  width: 100%;
}

.project_info {
  height: 100%;
  width: 100%;
  padding: 22px 16px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('https://res.cloudinary.com/david79/image/upload/v1674029968/work%20stuff/Img-Placehold_ceqiw0.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

.project_info h3 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project_info p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 12px;
}

.project_info ul {
  flex-direction: row;
  list-style: none;
  margin-top: 12px;
}

.project_info ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
}

#about {
  width: 100%;
  padding: 120px 24px;
  color: #fff;
  background-color: #1c1a19;
  background-image: url('https://res.cloudinary.com/david79/image/upload/v1674029965/work%20stuff/Frame_xxcjzv.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 18%;
}

#about h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#about p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

#about button {
  margin-top: 24px;
}

.lang_skill_frame {
  width: 100%;
  list-style: none;
  margin-top: 206px;
  padding-top: 120px;
  border-top: 1px solid #fff;
  align-items: center;
}

.cate_list {
  align-items: center;
}

.category_heading {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category_heading img {
  list-style: none;
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.rect_rotate {
  transform: rotate(-45deg);
}

.category_heading h3 {
  font-family: 'InaiMathi', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.cate_list ul {
  list-style: none;
  margin: 44px 0;
  align-items: center;
}

.cate_list ul li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin: 16px 0;
}

#contact {
  width: 100%;
  padding: 120px 24px;
}

#contact h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

#contact form {
  width: 100%;
  padding: 4px 0;
  align-items: center;
}

#full_name,
#email {
  margin-bottom: 24px;
  width: 100%;
  padding: 14px 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

#full_name::placeholder,
#email::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#message {
  margin-bottom: 24px;
  background: #fbf8f7;
  height: 114px;
  width: 100%;
  border: none;
  padding: 12px;
}

#message::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

footer {
  width: 100vw;
  padding: 25px 0;
  align-items: center !important;
  border-top: 1px solid #dfe1e6;
}

.footer_social_icons li a img {
  height: 20px;
}
